* {background-color: chartreuse;}
div{
    
    border: 2px solid rgb(127,0, 255);
    margin: 4px;
    padding: 16px;
}
h1{
    text-align: center;
}
img{
    display: block;
    margin: auto;
}
a{
    text-decoration: none;
}
button{
    text-align: center;
    color: chartreuse;
    padding: 16px;
    margin: 47px;
    
}
ul{
    text-align: center;
    list-style: none;
    padding: 16px;
    margin: 16px;
}